<!DOCTYPE html>
<html lang="en">
<head>
  <title>Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="C:\Users\User\Desktop\smart-attendance\smartAttendanceSys\static\img\logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% load static %}
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo.png' %}"  alt="Bootstrap" width="30" height="30"><span>Smart Attendance</span>
        </a>
      </div>
    </nav>
    <div class="container">

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hello! {{fname}}</strong> here are your details...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div class="card text-center">

            <!-- <img src="{% static 'img/photo.png' %}"  alt="789" width="300" height="250"> -->
            <div class="card-body">
              
              <div class="container mt-3">
                <h2>Information of {{fname}}</h2>
                            
                <table class="table table-hover table borderless">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Card Number</th>
                      <th>Phone Number</th>
                      <th>Department</th>
                      <th>Year</th>
                      

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{fname}}</td>
                      <td>{{lname}}</td>
                      <td>{{cardno}}</td>
                      <td>{{phno}}</td>
                      <td>{{dept}}</td>
                      <td>{{year}}</td>
                    </tr>
                    
                  </tbody>
                </table>
                <table class="table table-hover table borderless">
                  <thead>
                    <th>Attendance</th>
                    <th>Date</th>
                    <th>Time</th>
                  </thead>
                  <tbody>
                    {% for i in '1' %}
                    {% for i,obj in a_rec.items %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      
                      <td>{{obj.date}}</td>
                      
                      <td>{{obj.time}}</td>
                      {%endfor%}
                      {% endfor %}

                      
                      
                      
                    </tr>
                    
                  </tbody>
                </table>

            </div>
       
          </div>  

      </div>
      
</div>
<style>
  
  .navbar-brand span
  {position: relative;
  top: 0px;
  font-size: 0.95rem;
  right: -3px;
  font-weight: 600;
}
</style>
</body>
</html>




